{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "ecmaFeatures": {
       "jsx": true
    },
    "rules": {
        "indent":["error","tab"]
    }
}



