//数据为空时的提示样式
.data_list_empty{display:inline-block;width:64px;height:64px;background:url('../images/empty.png') no-repeat center center;}
//-----数据为空时的提示样式结束-----

//禁止选中样式
.user_select{
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.nav{
	overflow:hidden;
	width:350px;
	margin:30px auto 0px;
	li{
		float:left;
		padding:10px 20px;
	}
}













