//数据为空时的提示样式
.data_list_empty{display:inline-block;width:64px;height:64px;background:url('../images/empty.png') no-repeat center center;}
//-----数据为空时的提示样式结束-----

//禁止选中样式
.user_select{
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.nav{
	overflow:hidden;
	width:350px;
	margin:30px auto 0px;
	li{
		float:left;
		padding:10px 20px;
	}
}

.btn{
	padding:8px 15px;
	border:solid 1px #ddd;
}
.input{
	height:35px;
	border:solid 1px #ddd;
	padding-left:10px;
}
/*------------------css 1px解决方案-----------------------*/
.c-b-l:before { @include common-border-one(left,$C2); }
.c-b-r:before { @include common-border-one(right,$C2); }
.c-b-t:before { @include common-border-one(top,$C2); }
.c-b-b:before { @include common-border-one(bottom,$C2); }
.c-b-c:after{ @include common-border-all($C2,0); }










