
// sass相关备注
$htmlcolor:#333;//全局字体颜色 
$fontCorlor:#333;//字体全局颜色
$lightcolor:#88898c;//文字淡色
$activecolor:#c6cad0;//active背景颜色 
$acolor:#5974d9;//全局a颜色
$ahovercolor:#e47054;// 全局a:hover颜色
$bordercolor:#eceaea;//边框颜色值
$red:#c9302c; //红色
$green:#449d44; //绿色
$mainColor:#337ab7;//buton主要色调


