//home sass
.home{
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin-top:50px;
	.but{
		padding:8px 10px;
		border:solid 1px #ccc;
		border-radius:3px;
		cursor:pointer;
		box-shadow:0 0 5px #ccc;
	}
}